@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --board-dimension: 350px;
  --outline-overlap: 2px;
  --primary-clr: #0d9488;
  --white-clr: #ffffff;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 1rem; 
}

.message {
  font-size: 3rem;
  color: var(--primary-clr);
}

.board {
  width: var(--board-dimension);
  height: var(--board-dimension);
  display: grid;
  grid-template: repeat(3,1fr) / repeat(3,1fr);
  gap: var(--outline-overlap);
  background-color: var(--primary-clr);
}

.cell {
  background-color: var(--white-clr);
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(45, 151, 151);
}

#restart-btn{
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem 3rem;
  border: none;
  border-radius: 5rem;
  background-color: var(--primary-clr);
  color: var(--white-clr);
}